description = "Footer block"
==
<div class="bg-crimson" style="padding: 30px 0;">
    <footer class="container">
        <div class="row">
            {#-- Contact --#}
            <div class="col-sm-4 text-center-xs">
                <span class="h3">Liên hệ</span>
                <br><br>
                <p>Địa chỉ: 122 Nguyễn Du, Hai Bà Trưng, Hà Nội</p>
                <p>Điện thoại: (04) 39413869</p>
                <p>Hot line: 091 432 8689</p>
                <p>FAX: (04) 39413870</p>
                
                <hr class="visible-xs">
            </div>
            {#-- Social Network --#}
            <div class="col-sm-4 col-sm-offset-4">
                <div class="text-center">
                    {% partial 'social/facebook' %}
                </div>
            </div>
        </div>
    </footer>
</div>