title = "Điểm danh"
url = "/giao-vien/diem-danh/:id?"
layout = "Default"
hidden = "0"
robot_index = "index"
robot_follow = "follow"

[staticMenu]
code = "danh-sach-lop"
==
<?php
function onInit()
{
    $menuItemId = $this->param('id');
    
    echo $menuItemId;
}
?>
==
<div class="container">
    {% if not hasRole('Teacher') %}
    
        <h1>You are not allowed</h1>
        
    {% else %}
        
        <h1>Danh sách lớp</h1>
        
        <ul id="class-list" class="list-group">
            {% for item in menuItems %}
                <li class="list-group-item">
                    <a href="#" data-iframe-src="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
        
        <div id="class-iframe-container">
        </div>
    
    {% endif %}
</div>


{#-- iFrame Loading Scripts --#}
{#----------------------------#}
{% put scripts %}
    <script>
        /*
         * On class-list item click - Load Google form
         */
        $("#class-list a").click(function()
        {
            var iframeSrc = $(this).data("iframe-src");
            
            $("#class-iframe-container").html(
                $("<div>").addClass("embed-responsive embed-responsive-4by3")
                    .css({marginBottom: 30})
                    .html(
                        $("<iframe>").addClass("embed-iframe-item").attr("src", iframeSrc)
                    )
            );
        });
        
        /*
         * Load the first item of class-list on startup
         */
        $("#class-list a").first().click();
    </script>
{% endput %}