description = "Customer Information Form"
==
<h3>Customer Form</h3>
<form id="statusForm">
    <div class="form-group">
        <label>Tên</label>
        <input name="name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Số điện thoại</label>
        <input name="phone" type="phone" class="form-control">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input name="email" type="email" class="form-control">
    </div>
    <div class="form-group">
        <label>Mục đích học tiếng Anh</label>
        <textarea name="objective" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Trình độ tiếng anh hiện tại</label>
        <textarea name="english_status" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary fit-width">Send</button>
</form>

{% partial 'AJAX/status-form' %}