description = "List of latest news (on home page)"

[blogPosts latestPosts]
pageNumber = "{{ :page }}"
postsPerPage = "3"
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "home-page"
postPage = "home-page"
==
<div id="latest-news-container" class="container">
    <h2>Latest News</h2>
    <div class="row">
        {% for post in posts %}
            {% if post.featured_images.isEmpty() %}
                {% set imgUrl = 'http://placehold.it/400x200/EA2E49/FFF&text=' ~ post.title %}
            {% else %}
                {% set imgUrl = post.featured_images.first().getPath() %}
            {% endif %}
            <div class="col-sm-4">
                <a href="{{ 'blog/post'|page({'slug': post.slug}) }}">
                    <img src="{{ imgUrl }}"
                         alt="{{ post.title }}"
                         class="fit-width">
                    <h3>
                        {{ post.title }}
                    </h3>
                </a>
                <div class="text-justify">
                    {{ post.excerpt|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>