description = "Home page sliders (container featured posts)"
==
{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/vendor/flexslider/flexslider.css'|theme }}">
    <style>
        .flexslider {
            padding: 0;
            border: none;
        }
    </style>
{% endput %}

{% put scripts %}
    <script src="{{ 'assets/vendor/flexslider/jquery.flexslider-min.js'|theme }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $(".flexslider").flexslider({
                animation: "slide",
                slideshowSpeed: 8000,
                pauseOnHover: false
            });
        });
    </script>
{% endput %}

<div class="flexslider">
    <ul class="slides">
        <li>
            <a href="/">
            <img src="http://93.188.164.152/themes/englishspace/assets/css/Slide-bar%20images/og-ea-logo-1910-1000.jpg"
                     alt="English Space Center">
            </a>
        </li>
        <li>
            <a href="/">
                              <img src="http://93.188.164.152/themes/englishspace/assets/css/Slide-bar%20images/england%20flag.jpg"
                     alt="English Space Center">
            </a>
        </li>
        <li>
            <a href="/">
                <img src="http://placehold.it/900x300/963/FFF&text=English+Space+Center"
                     alt="English Space Center">
            </a>
        </li>
    </ul>
</div>